NodeRed/flow.json
[
    {
        "id": "87d718a4ed5a6a15",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "408f8ec8b5f8db2f",
        "type": "group",
        "z": "87d718a4ed5a6a15",
        "name": "Eleanor -> relayModule0",
        "style": {
            "label": true
        },
        "nodes": [
            "d19ed89c2ae4874e",
            "36c9ab71af9ade30",
            "279cfd5dd3b53dc3",
            "7099bc26d33d53f2",
            "65056b5a8beba3c1",
            "48ee994caaa6db7c"
        ],
        "x": 174,
        "y": 19,
        "w": 752,
        "h": 162
    },
    {
        "id": "5a20dafaca48a101",
        "type": "group",
        "z": "87d718a4ed5a6a15",
        "name": "Levante -> relayModule1",
        "style": {
            "label": true
        },
        "nodes": [
            "e82f15c4ee2c80ad",
            "8dc25f52b7de301a",
            "8264d7f11a4df63c",
            "2895b9da16ed04de",
            "b90cb833936d479e",
            "109e6f488f4dd158",
            "58d0a720e0c627b8"
        ],
        "x": 174,
        "y": 199,
        "w": 752,
        "h": 182
    },
    {
        "id": "bf596a626f77d0af",
        "type": "group",
        "z": "87d718a4ed5a6a15",
        "name": "SAS -> realyModule2",
        "style": {
            "label": true
        },
        "nodes": [
            "27ca334092888720",
            "31b56233d675b43c",
            "3ed7d50ac6c9cad6",
            "282fdeb1cc68c796"
        ],
        "x": 174,
        "y": 399,
        "w": 752,
        "h": 162
    },
    {
        "id": "d19ed89c2ae4874e",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "name": "",
        "group": "0d4ea9db2e069b20",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kl.15 on & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "36c9ab71af9ade30",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "name": "",
        "group": "0d4ea9db2e069b20",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0middle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "279cfd5dd3b53dc3",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "name": "",
        "group": "0d4ea9db2e069b20",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "7099bc26d33d53f2",
        "type": "ui_text",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "group": "0d4ea9db2e069b20",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current state",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "2895b9da16ed04de",
        "type": "ui_text",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "group": "f634a83df58e5902",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current state",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "e82f15c4ee2c80ad",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "name": "",
        "group": "f634a83df58e5902",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kl.15 on & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "8dc25f52b7de301a",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "name": "",
        "group": "f634a83df58e5902",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1middle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "8264d7f11a4df63c",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "name": "",
        "group": "f634a83df58e5902",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "27ca334092888720",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "bf596a626f77d0af",
        "name": "",
        "group": "5f557b40ebf68097",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kl.15 on & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "31b56233d675b43c",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "bf596a626f77d0af",
        "name": "",
        "group": "5f557b40ebf68097",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2middle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "3ed7d50ac6c9cad6",
        "type": "ui_button",
        "z": "87d718a4ed5a6a15",
        "g": "bf596a626f77d0af",
        "name": "",
        "group": "5f557b40ebf68097",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "KL.15 off & KL.S off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "282fdeb1cc68c796",
        "type": "ui_text",
        "z": "87d718a4ed5a6a15",
        "g": "bf596a626f77d0af",
        "group": "5f557b40ebf68097",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current state",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "65056b5a8beba3c1",
        "type": "function",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "name": "Split message",
        "func": "const myArray = msg.payload.split(\"|\");\nlet relay=myArray[0];\nlet state = myArray[1];\nvar msg1 = { topic: \"relay\", payload: relay};\nvar msg2 = { topic: \"state\", payload: state };\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "109e6f488f4dd158"
            ],
            [
                "109e6f488f4dd158"
            ]
        ]
    },
    {
        "id": "109e6f488f4dd158",
        "type": "join",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "b90cb833936d479e"
            ]
        ]
    },
    {
        "id": "b90cb833936d479e",
        "type": "switch",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "name": "",
        "property": "payload.relay",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "7099bc26d33d53f2"
            ],
            [
                "2895b9da16ed04de"
            ],
            [
                "282fdeb1cc68c796"
            ]
        ]
    },
    {
        "id": "48ee994caaa6db7c",
        "type": "serial in",
        "z": "87d718a4ed5a6a15",
        "g": "408f8ec8b5f8db2f",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "65056b5a8beba3c1"
            ]
        ]
    },
    {
        "id": "58d0a720e0c627b8",
        "type": "serial out",
        "z": "87d718a4ed5a6a15",
        "g": "5a20dafaca48a101",
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "04dfdc0474591235",
        "type": "inject",
        "z": "87d718a4ed5a6a15",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "allUp",
        "payloadType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "9a013fe98cfbd1bd",
        "type": "inject",
        "z": "87d718a4ed5a6a15",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "allMiddle",
        "payloadType": "str",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "6313b81e1d0f4b85",
        "type": "inject",
        "z": "87d718a4ed5a6a15",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "allDown",
        "payloadType": "str",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "58d0a720e0c627b8"
            ]
        ]
    },
    {
        "id": "0d4ea9db2e069b20",
        "type": "ui_group",
        "name": "Clamp 15 switch",
        "tab": "91134b53d8ec0c93",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f634a83df58e5902",
        "type": "ui_group",
        "name": "Clamp15 switch",
        "tab": "f48c4b8fe62079ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f557b40ebf68097",
        "type": "ui_group",
        "name": "Clamp15 switch",
        "tab": "38bba28291f2ec39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91134b53d8ec0c93",
        "type": "ui_tab",
        "name": "Eleanor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f48c4b8fe62079ee",
        "type": "ui_tab",
        "name": "Levante",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38bba28291f2ec39",
        "type": "ui_tab",
        "name": "SAS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]